global:
  cattle:
    psp:
      enabled: false
bootstrapPassword: {{ rancher_bootstrap_password }}
installCRDs: "true"

replicas: {{ rancher_replicas }}
hostname: {{ rancher_host }}

ingress:
  enabled: true
  includeDefaultExtraAnnotations: true
  ingressClassName: ""
  pathType: ImplementationSpecific
  path: "/"
  servicePort: 80
  tls:
    source: rancher
    secretName: tls-rancher-ingress
  extraAnnotations:
{% if cloud_provider is defined and cloud_provider == "aws" and enable_external_dns %}
    external-dns.alpha.kubernetes.io/target: {{ target }}
    external-dns.alpha.kubernetes.io/ttl: "60"
{% endif %}


service:
  type: ""
  annotations: {}
