- name: selinux policy
  include_tasks: selinux.yml

- name: namespace creation
  include_tasks: namespace.yml

- name: secret creation for appco
  include_tasks: appcosecret.yml

- name: milvus deploy
  include_tasks: milvus.yml
  when: enable_milvus | default(false)

- name: opensearch deploy
  include_tasks: opensearch.yml
  when: enable_opensearch | default(true)

- name: ollama deploy
  include_tasks: ollama.yml

- name: vllm deploy
  include_tasks: vllm.yml
  when: enable_gpu_operator | default(false) and enable_vllm_deployment | default(false)

- name: open-webui-mcpo deploy
  include_tasks: open-webui-mcpo.yml

- name: open-webui deploy
  include_tasks: open-webui.yml

