- name: Copy opensearch-values.yaml for single cluster
  template:
    src: opensearch-values.yaml.j2
    dest: ~/opensearch-values.yaml
  when: enable_opensearch | default(true) and not enable_opensearch_cluster_deployment | default(false)

- name: Copy opensearch-values.yaml for multi-cluster
  template:
    src: opensearch-cluster-values.yaml.j2
    dest: ~/opensearch-values.yaml
  when: enable_opensearch | default(true) and enable_opensearch_cluster_deployment | default(true)

- name: Deploy OpenSearch helm chart
  shell: |
    if [[ {{ opensearch_helm_repo }} == *"dp.apps.rancher.io"* ]]; then
        helm registry login dp.apps.rancher.io/charts -u {{ application_collection_user_email }} -p {{ application_collection_user_token }}
        helm upgrade --install {{ opensearch_release_name }} {{ opensearch_helm_repo }} -n {{ suse_private_ai_namespace }} --create-namespace  --version {{ opensearch_helm_version }} -f opensearch-values.yaml --wait
    else
        helm upgrade --install {{ opensearch_release_name }} opensearch --repo {{ opensearch_helm_repo }} -n {{ suse_private_ai_namespace }} --create-namespace --version {{ opensearch_helm_version }} -f opensearch-values.yaml --wait
    fi
  register: opensearch_deploy_result
  until: opensearch_deploy_result.rc == 0
  retries: 5
  delay: 20
  when: enable_opensearch | default(true) and (not deploy_rancher_only | default(False) | bool)
