- name: Copy opensearch-values.yaml for single cluster
  template:
    src: opensearch-values.yaml.j2
    dest: ~/opensearch-values.yaml
  when: enable_opensearch | default(true) and not opensearch_cluster_deployment | default(false)

- name: Copy opensearch-values.yaml for single cluster
  template:
    src: opensearch-cluster-values.yaml.j2
    dest: ~/opensearch-values.yaml
  when: enable_opensearch | default(true) and opensearch_cluster_deployment | default(true)

- name: Deploy OpenSearch helm chart
  shell: |
    if [[ {{ opensearch_helm_repo }} == *"dp.apps.rancher.io"* ]]; then
        helm registry login dp.apps.rancher.io/charts -u {{ application_collection_user_email }} -p {{ application_collection_user_token }}
        helm upgrade --install {{ opensearch_release_name }} {{ opensearch_helm_repo }} -n {{ suse_private_ai_namespace }} --create-namespace  --version {{ opensearch_helm_version }} -f opensearch-values.yaml
    else
        helm upgrade --install {{ opensearch_release_name }} opensearch --repo {{ opensearch_helm_repo }} -n {{ suse_private_ai_namespace }} --create-namespace --version {{ opensearch_helm_version }} -f opensearch-values.yaml
    fi
  register: opensearch_deploy_result
  until: opensearch_deploy_result.rc == 0
  retries: 5
  delay: 20
  when: enable_opensearch | default(true) and (not deploy_rancher_only | default(False) | bool)

- name: Wait for SUSE Private AI (OpenSearch) to be successfully rolled out
  shell: >
    kubectl -n {{ suse_private_ai_namespace }} rollout status deploy/{{ item }} --timeout=120s
  register: rollout_result
  retries: 6
  delay: 30
  until: "'successfully rolled out' in rollout_result.stdout"
  with_items:
  - "opensearch-cluster-master-0"
  when: enable_opensearch | default(true) and (not deploy_rancher_only | default(False) | bool)
