- name: Copy open-webui-mcpo-values.yaml
  template:
    src: open-webui-mcpo-values.yaml.j2
    dest: ~/open-webui-mcpo-values.yaml

- name: Deploy open-webui-mcpo helm chart
  shell: |
    helm registry login dp.apps.rancher.io/charts -u {{ application_collection_user_email }} -p {{ application_collection_user_token }}
    helm upgrade --install {{ openwebui_mcpo_release_name }} {{ openwebui_mcpo_helm_repo }} -n {{ suse_private_ai_namespace }} --create-namespace  --version {{ openwebui_mcpo_helm_version }} -f open-webui-mcpo-values.yaml
  register: openwebui_mcpo_deploy_result
  until: openwebui_mcpo_deploy_result.rc == 0
  retries: 5
  delay: 30
  when: not deploy_rancher_only | default(False) | bool

- name: Wait for open-webui-mcpo to be successfully rolled out
  shell: |
    kubectl -n {{ suse_private_ai_namespace }} rollout status deploy/{{ item }} --timeout=120s
  register: rollout_result
  retries: 30
  delay: 40
  until: "'successfully rolled out' in rollout_result.stdout"
  with_items:
  - "{{ openwebui_mcpo_release_name }}"
  when: not deploy_rancher_only | default(False) | bool
