suse_observability_helm_repo_url: https://charts.rancher.com/server-charts/prime/suse-observability
suse_observability_helm_repo_name: suse-observability
suse_observability_helm_chart_name: suse-observability
suse_observability_helm_chart_ref: "{{ suse_observability_helm_repo_name }}/{{ suse_observability_helm_chart_name }}"
suse_observability_helm_chart_version: 2.6.2
suse_observability_namespace: suse-observability
suse_observability_sizing_profile: trial
suse_observability_storage_class: "{% if cloud_provider is defined and cloud_provider == 'aws' and enable_longhorn %}longhorn{% else %}local-path{% endif %}"
suse_observability_release_name: suse-observability-values
suse_observability_api_token: suseobservability
suse_ai_observability_extension_helm_repo: oci://dp.apps.rancher.io/charts/suse-ai-observability-extension
suse_ai_observability_extension_helm_version: 1.2.0
suse_ai_observability_extension_release_name: suse-ai-observability-extension
appco_secret: application-collection
suse_observability_server_url: http://suse-observability-router.{{ suse_observability_namespace }}.svc.cluster.local:8080
suse_observability_host: "{{ suse_observability_host | default('suse-observability') }}"
suse_observability_otel_host: "{{ suse_observability_otel_host | default('suse-observability-otel-collector') }}"
clusterName: "{{ cluster_name | default('local') }}"
