stackstate:
  authentication:
    serviceToken:
      bootstrap:
        token: {{ suse_observability_api_token }}
        roles:
          - stackstate-admin
        ttl: {{ suse_observability_api_token_ttl }}
