ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
{% if cloud_provider is defined and cloud_provider == "aws" and enable_external_dns | default(false) %}
    external-dns.alpha.kubernetes.io/target: {{ suse_observability_target }}
    external-dns.alpha.kubernetes.io/ttl: "60"
{% endif %}
  hosts:
    - host: {{ suse_observability_host }}
  tls:
    - hosts:
        - {{ suse_observability_host }}
      secretName: {{ suse_observability_tls_secret_name }}
