standalone: true

global:
  imagePullSecrets:
    - name: harbor-pull

image:
  registry: {{ harbor_hostname | quote }}
  repository: "{{ aif_image_project }}/ghcr.io/suse/aif-ui"
  tag: {{ aif_image_tag | quote }}
  pullPolicy: Always

operator:
  namespace: {{ aif_namespace | quote }}
  service: {{ aif_release_name | quote }}

appCatalog:
  useStaticCatalog: {{ aif_use_static_catalog | bool | lower }}
