{% macro registry_auth() -%}
"userSecretRef": { "name": "harbor-credentials", "key": "username" },
"tokenSecretRef": { "name": "harbor-credentials", "key": "password" },
"caBundleSecretRef": {% if aif_registry_ca_mode == 'settings' %}{ "name": "harbor-ca", "key": "ca.crt" }{% else %}null{% endif %}
{%- endmacro %}
{
  "spec": {
    "fleet": {
      "repoURL": {{ (gitea_url ~ '/' ~ gitea_admin_username ~ '/' ~ gitea_repository ~ '.git') | to_json }},
      "branch": "main",
      "authType": "token",
      "username": {{ gitea_admin_username | to_json }},
      "credSecretRef": {
        "name": "gitops-credentials",
        "key": "token"
      },
      "caBundleSecretRef": {% if gitea_tls_enabled | bool %}{ "name": "harbor-ca", "key": "ca.crt" }{% else %}null{% endif %}
    },
    "applicationCollection": {
      {{ registry_auth() }}
    },
    "suseRegistry": {
      {{ registry_auth() }}
    },
    "nvidia": {
      {{ registry_auth() }}
    },
    "registryEndpoints": {
      "applicationCollection": {{ ('oci://' ~ harbor_hostname ~ '/' ~ appco_chart_project) | to_json }},
      "suseRegistry": {{ ('oci://' ~ harbor_hostname ~ '/' ~ suse_chart_project) | to_json }},
      "nvidia": {{ ('oci://' ~ harbor_hostname ~ '/' ~ nvidia_chart_project) | to_json }}
    }
  }
}
