---
- name: Define Nodes for the SUSE AI Cluster
  hosts: localhost
  connection: local
  tasks:
  - name: Define master node - suse ai cluster
    ansible.builtin.add_host:
      ansible_python_interpreter: "{{ suse_ai_python_interpreter }}"
      name: suse-ai
      hostname: suse-ai
      ansible_user: "{{ vm_ansible_user | default('ai') }}"
      ansible_host: "{{ suse_ai_vm_ip }}"
      groups:
        - suse_ai_cp_master
        - suse_ai_cluster

  - name: Define other control plane nodes - suse ai cluster
    ansible.builtin.add_host:
      ansible_python_interpreter: "{{ suse_ai_python_interpreter }}"
      name: "{{ item.name }}"
      hostname: "{{ item.hostname }}"
      ansible_user: "{{ vm_ansible_user | default('ai') }}"
      ansible_host: "{{ item.ip }}"
      groups:
        - suse_ai_cp_others
        - suse_ai_cluster
    loop: "{{ suse_ai_cp_others | default([]) }}"

  - name: Define worker nodes with GPU - suse ai cluster
    ansible.builtin.add_host:
      ansible_python_interpreter: "{{ suse_ai_python_interpreter }}"
      name: "{{ item.name }}"
      hostname: "{{ item.hostname }}"
      ansible_user: "{{ vm_ansible_user | default('ai') }}"
      ansible_host: "{{ item.ip }}"
      groups:
        - suse_ai_agents_gpu
        - suse_ai_agents
        - suse_ai_cluster
    loop: "{{ suse_ai_worker_gpu | default([]) }}"

  - name: Define worker nodes with no GPU - suse ai cluster
    ansible.builtin.add_host:
      ansible_python_interpreter: "{{ suse_ai_python_interpreter }}"
      name: "{{ item.name }}"
      hostname: "{{ item.hostname }}"
      ansible_user: "{{ vm_ansible_user | default('ai') }}"
      ansible_host: "{{ item.ip }}"
      groups:
        - suse_ai_agents_nongpu
        - suse_ai_agents
        - suse_ai_cluster
    loop: "{{ suse_ai_worker_nongpu | default([]) }}"

  - name: Save dynamic inventory to inventories/suse-ai_inventory.ini
    copy:
      dest: "../inventories/suse-ai_inventory.ini"
      content: |
        [rke2_servers]
        {% for host in groups['suse_ai_cp_master'] %}
        suse-ai ansible_host={{ hostvars[host].ansible_host }}
        {% endfor %}
        {% for host in groups['suse_ai_cp_others'] | default([]) %}
        suse-ai-cp{{ loop.index }} ansible_host={{ hostvars[host].ansible_host }}
        {% endfor %}
        [rke2_agents]
        {% for host in groups['suse_ai_agents_gpu'] | default([]) %}
        suse-ai-wkrgpu{{ loop.index }} ansible_host={{ hostvars[host].ansible_host }}
        {% endfor %}
        {% for host in groups['suse_ai_agents_nongpu'] | default([]) %}
        suse-ai-wkr{{ loop.index }} ansible_host={{ hostvars[host].ansible_host }}
        {% endfor %}
        [all:vars]
        ansible_user="{{ vm_ansible_user | default('ai') }}"


  - name: Save cp extra vars for suse ai cluster
    copy:
      dest: "../suse-ai_extra_vars.yml"
      content: |
        ---
        # SCC
        scc_registration:
          server: {{ registration_server | default("https://scc.suse.com") }}
          email: {{ registration_email }}
          sles_code: "" # can be empty since we are not using BYOL image
          sle_micro_code: "{{ registration_code }}"

        # Nvidia
        nvidia:
          driver_install: {{ (true if not (use_nvidia_driver_installer | default(false)) else false) | lower }}
          gpu_operator_deploy: {{ (false if (use_nvidia_driver_installer | default(false)) else (enable_gpu_operator | default(false))) | lower }}

        # RKE2
        rke2:
          version:  {{ suse_ai_cluster.version  | default('v1.32.4+rke2r1') }}
          token: {{ suse_ai_cluster.token | default('suse-ai-rke2token') }}
          lb_address: "{{ hostvars['localhost']['suse_ai_kubeapi_fqdn'] }}"

        cert_manager_deploy: true

        # Rancher
        rancher:
          enabled: false

        suse_packages: {{ (["open-iscsi", "nfs-client", "cryptsetup", "device-mapper"] + ["jq", "python311-PyYAML", "curl", "git", "pciutils"])
         if enable_longhorn | default(false) else ["jq", "python311-PyYAML", "curl", "git", "pciutils"] }}
