---

ollama_hostname: suse-ollama

# Default Open WebUI admin account
open_webui_admin_name: admin
open_webui_admin_email: admin@suse-private-ai.org
open_webui_admin_password: WelcomeToAI

enable_external_dns: false
validate_certs: "{{ true if (tls_source is defined and tls_source == 'letsEncrypt' and letsencrypt_environment is defined and letsencrypt_environment == 'production') else false }}"

# flag to enable deployment of milvus
enable_milvus: true

# flag to enable the milvus deployment type either cluster or standalone. When set to false, standalone milvus is deployed.
enable_milvus_cluster_deployment: true

# flag to enable the minio deployment type either distributed or standalone. When set to false, distributed minio is deployed.
enable_minio_standalone_deployment: false

# logging level for open-webui
openwebui_global_log_level: INFO

# namespace for suse private ai stack
suse_private_ai_namespace: suse-private-ai

# secret name for the application collection credentials
appco_secret: application-collection

# helm repo to use for milvus charts
milvus_helm_repo: oci://dp.apps.rancher.io/charts/milvus
#milvus_helm_repo: https://zilliztech.github.io/milvus-helm/
milvus_helm_version: 4.2.2
milvus_image_version: 2.4.6
milvus_release_name: milvus

# helm repo to use for opensearch charts
opensearch_helm_repo: oci://dp.apps.rancher.io/charts/opensearch
opensearch_helm_version: 3.3.2
opensearch_release_name: opensearch
opensearch_cluster_deployment: false
opensearch_admin_password: "MySecurePass123"

#Flag to indicate whether ollama should be installed seperately or part of the open-webui
ollama_deploy_separately: true


openwebui_mcpo_helm_repo: oci://dp.apps.rancher.io/charts/open-webui-mcpo
openwebui_mcpo_helm_version: 1.0.0
openwebui_mcpo_image_version: 0.0.17
openwebui_mcpo_release_name: open-webui-mcpo

openwebui_helm_repo: oci://dp.apps.rancher.io/charts/open-webui
#openwebui_helm_repo: https://helm.openwebui.com/
openwebui_helm_version: 7.2.0
openwebui_image_version: 0.6.18
openwebui_release_name: open-webui

ollama_helm_repo: oci://dp.apps.rancher.io/charts/ollama
#ollama_helm_repo: https://otwld.github.io/ollama-helm/
ollama_helm_version: 1.26.0
ollama_image_version: 0.11.4
ollama_release_name: ollama

pipelines_enabled: true
pipelines_observability: "https://raw.githubusercontent.com/SUSE/suse-ai-observability-extension/refs/heads/main/integrations/oi-filter/suse_ai_filter.py"
pipelines_default: "https://raw.githubusercontent.com/SUSE/suse-ai-observability-extension/refs/heads/main/integrations/oi-filter/conversation_turn_limit_filter.py"

openwebui_vllm_openai_enabled: true
openwebui_vllm_openai_key: "dummy"

enable_vllm_deployment: false

# helm repo to use for vllm charts
vllm_chart_name: vllm-stack
appco_vllm_chart_name: vllm
vllm_helm_repo: oci://dp.apps.rancher.io/charts/{{ appco_vllm_chart_name }}
#vllm_helm_repo: https://vllm-project.github.io/production-stack/
vllm_helm_version: 0.1.6
vllm_core_image_version: 0.9.1
vllm_cache_image_version: 0.3.2
vllm_cache_router_version: 0.1.6
vllm_release_name: vllm
vllm_model_url: "microsoft/Phi-3-mini-4k-instruct"

storage_class: "{% if cloud_provider is defined and cloud_provider == 'aws' and enable_longhorn %}longhorn{% else %}local-path{% endif %}"
